noscript
    p Please enable Javascript
    
header.header
    .header__wrapper
        a.header__logo(href='#') Credits PULT
        .d-flex.align-items-center
            .card-icon.mr-1
            span.header__address EHqCSXeGd8NrJbR8iwaNdqEKDHMCNsepfqidewhCDN
        
        
        .header__currencies
            .d-flex.align-items-center.mr-3
                .cs-icon.mr-1
                span.header__cs-count.mr-1 100
                span CS
                
            .d-flex.align-items-center
                .dollar-icon
                span.header__dollar-count.mr-1 1000
                span $
                
    
