.header{
    padding: 15px 20px 20px 20px;
    border: 1px solid #000;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0px auto;
}

.header__logo{
    font-size: 36px;
    color: #000;
    white-space: nowrap;
}

.header__address{
    word-break: break-all;
}

.header__address, .header__cs-count, .header__dollar-count{
    font-size: 18px;
    font-weight: bold;
}

.header__currencies{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:995px),(max-device-width:995px) {
    .header__currencies{
        position: absolute;
        top: 2px;
        right: 19px;
    }
}
@media (max-width:800px),(max-device-width:800px) {
    .header__wrapper{
        flex-direction: column;
    }

    .header__logo{
        margin-top: 10px;
    }
}
